#portfolio-container {
    background: white;
}

#portfolio-header {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card__noImage {
  color: var(--silver);
  background: white;
  height: 300px;
  width: 400px;
  margin: 1rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
  display: grid;
  grid-template-colums: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
  "header header header header"
  "logo logo logo logo"
  "content content content content"
  "link link link link";
  grid-column-gap: 1rem;
  overflow: hidden;
}

.card__withImage {
  height: 300px;
  width: 400px;
  margin: 1rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: .5rem;
}

.card__image {
  height: 100%;
  width: auto;
}

.card-header {
  grid-area: header;
  text-align: center;
}

.card-logo {
  grid-area: logo;
  text-align: center;
}

.card-content {
  grid-area: content;
  text-align: justify;
  margin: 0 1rem;
}

button.card-button {
  background: var(--header-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

button.card-button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

a.button-link {
  color: white;
  font-size: 1.3rem;
}

.link-logo {
  color: white;
  background: var(--header-color);
  border-radius: 5px;
  font-size: 1.3rem;
}

.card-link {
  grid-area: link;
  text-align: center;
}

.logo-mod {
  font-size: 2rem;
  color: white;
  background: var(--header-color);
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 950px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sub-container {
    display: flex;
    justify-content: space-around;
  }

  .card {
    height: 250px;
    width: 333px;
    margin: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sub-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 300px;
    width: 400px;
    margin: 1rem;
  }
}
