@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

/*
:root {
  --header-color: #f7df07;
  --header-color-highlight: #f7df07a1;
  --silver: #C0C0C0;
}
*/

:root {
  --header-color: rgba(0, 0, 0, 1);
  --header-color-highlight: #f7df07a1;
  --silver: #C0C0C0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  height: 100%;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(45deg, var(--header-color), white, white, var(--silver));
}
